* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    transition:
        transform 0.3s ease-in-out,
        color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    -webkit-app-region: drag;
    &:hover {
        cursor: move;
    }
    button {
        -webkit-app-region: no-drag;
        float: right;
        height: 25px;
        width: 25px;
        background-color: transparent;
        border: none;
        &:last-child {
            float: left;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba(128, 127, 128, 0.2);
        }
    }
}
main {
    margin-top: 25px;
    div.clicker {
        width: 100px;
        height: 100px;
        background-color: black;
    }
}
